#labelHeader {
    font-family: 'Roboto', sans-serif;
    font-size:large;
}
#title {
    margin-top: 1%;
    margin-left: 3vh;
    font-family: 'Roboto', sans-serif;

}
#header-img {
    margin-top: -5%;
}
#pages {
    margin-left: 3%;
}
#header{
    background-color: white;
    width: 100%;
    position: sticky; 
}
#Link:hover {
    color: #b5651d;
}



@media (max-width:700px) {
    #header {
        margin-top: 0%;
        display: flex;
        flex-wrap: wrap;
    }
    #Link {
        flex-basis: 100%;
    }
    #title {
        margin-left: 1vh;
    }
    #header-img {
        height: 120;
        width: 230;
        margin-top: -1%;


    }
    #menu-icon {
       margin-left: 5vh;
       margin-bottom: 1vh;
       margin-top: -2%;

    }
   
}

   
