#about {
    margin-bottom: 15vh;
    margin-left: 5vh;
}
#grid {
    margin-top: 5vh;
    margin-bottom: -5vh;
}
#about-banner {
    margin-top: 6vh;
    margin-bottom: 2vh
}

#about-photo {
    /* background-image: url(''); */
    height: 55vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    margin-left: 18vh;
    margin-top: 9vh;
    margin-bottom: 10vh;

}

#about-text-content {
    padding-left: 15vh;
    height: 80vh;
    padding-bottom: 30vh;
}
#about-background {
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 15vh;   
}


@media (max-width: 700px) {
    #about {
        margin-bottom: 0vh;
        margin-left: 0vh;
    }
    #about-photo {
        margin-bottom: 0vh;
        margin-left: 10vh;
        margin-right: 10vh;
    }
    #about-banner-text {
        padding-bottom: 3vh;
        margin-top: 5vh;
        font-size: 30px;
    }
    #about-text-content {
        margin-left: -3vh;
        margin-right: 10vh;
        margin-bottom: 10vh;
        text-align: center;


    }

    #about-background {
        margin-left: 8vh;
        margin-right: 10vh;
        padding-bottom: 10vh;
    }
}