#home {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://images.unsplash.com/photo-1632752370870-a1eb7e2e09af?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D≈");
    height: 80vh;
    background-position: center;
    background-size: cover;
    margin-bottom: -3vh;
}

#text {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 3vh;
    font-size: 35px;
}

@media (max-width:700px) {
    #home {
        height: 60vh;
    }
    #text {
        padding-top: 3vh;
        font-size: 21px;
    }
}