#outdoorKitchens {
    background-image: url('https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 75vh;
    background-position: center;
    background-size: cover; 
}
#probabates-banner {
    margin-top: 5vh;
    padding-bottom: 3vh;
}
#outdoorKitchens-text-content {
    margin-left: 10vh;
    margin-right: 18vh;
    margin-bottom: 10vh;

}

@media (max-width:700px) {
    #outdoorKitchens {
        height: 60vh;
    }

    #outdoorKitchens-text-content {
        margin-left: 10vh;
        margin-right: 10vh;
    }

}